In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [2]:
# Print ou Each School
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [3]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [4]:
for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [5]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", 
                "Hernandez High School","Griffin High School","Wilson High School", 
                "Cabrera High School", "Bailey High School", "Holden High School", 
                "Pena High School", "Wright High School","Rodriguez High School", 
                "Johnson High School", "Ford High School", "Thomas High School"]

In [6]:
# Add the Pandas dependency.
import pandas as pd

In [7]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)

In [8]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
# Output
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [10]:
# Iteration to print out each school
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [11]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [13]:
# Convert the list of dictionaries to a DataFrame:
school_df = pd.DataFrame(high_school_dicts)
# print
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [14]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [15]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [16]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [17]:
# Add the school_name to a new DataFrame.
school_df["school_name"] = school_name
# Add the type_of_school to a new DataFrame.
school_df["type_of_school"] = type_of_school
# Print the DataFrame.
school_df

   School ID            school_name      type type_of_school
0          0      Huang High School  District       District
1          1   Figueroa High School  District       District
2          2    Shelton High School   Charter        Charter
3          3  Hernandez High School  District       District
4          4    Griffin High School   Charter        Charter

In [19]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
high_schools_dict

{'School ID': [0, 1, 2, 3, 4],
 'school_name': ['Huang High School',
  'Figueroa High School',
  'Shelton High School',
  'Hernandez High School',
  'Griffin High School'],
 'type': ['District', 'District', 'Charter', 'District', 'Charter']}

In [21]:
high_schools_dict_df = pd.DataFrame(high_schools_dict)
high_schools_dict_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [22]:
school_df.columns

Index(['School ID', 'school_name', 'type', 'type_of_school'], dtype='object')

In [23]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [24]:
school_df.values

array([[0, 'Huang High School', 'District', 'District'],
       [1, 'Figueroa High School', 'District', 'District'],
       [2, 'Shelton High School', 'Charter', 'Charter'],
       [3, 'Hernandez High School', 'District', 'District'],
       [4, 'Griffin High School', 'Charter', 'Charter']], dtype=object)

In [26]:
# Create a list
school_id = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
school_id

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [27]:
df = pd.read_csv('schools_complete.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'schools_complete.csv'

In [28]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is D6FC-06A8

 Directory of C:\Users\jpndu\School_District_Analysis

01/21/2022  12:39 PM    <DIR>          .
01/21/2022  10:43 AM    <DIR>          ..
01/21/2022  10:43 AM             1,806 .gitignore
01/21/2022  12:39 PM    <DIR>          .ipynb_checkpoints
01/21/2022  11:15 AM               581 jupyter_practice.ipynb
01/21/2022  12:29 PM            29,241 pandas_practice.ipynb
01/21/2022  10:43 AM                83 README.md
01/21/2022  12:45 PM    <DIR>          Resources
               4 File(s)         31,711 bytes
               4 Dir(s)  417,944,879,104 bytes free

In [29]:
class Cat:
    def __init__(self, name):
        self.name = name

In [30]:
first_cat = Cat('Felix')
print(first_cat.name)

Felix

In [31]:
class Dog:
    def __init__(self, name, color, sound):
        self.name = name
        self.color = color
        self.sound = sound

    def bark(self):
        return self.sound + ' ' + self.sound

In [32]:
first_dog = Dog('Fido', 'brown', 'woof!')
print(    first_dog.name)
print(first_dog.color)
first_dog.bark()

Fido
brown

'woof! woof!'